/******RESET******/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******GENERAL STYLES******/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.opac {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.bg-img {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1688543/brooke-lark-food.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -2;
}
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: space between;
}
.main-content {
  height: 100%;
}
.main-header {
  padding: 20px;
}
@media (max-width: 730px) {
  .main-header {
    position: relative;
  }
}
.main-header .main-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .main-header .main-header__row .main-header__img--container .m-hider {
    display: none;
  }
}
.main-header .main-header__row .main-header__img--container .d-hider {
  display: none;
}
@media (max-width: 900px) {
  .main-header .main-header__row .main-header__img--container .d-hider {
    display: inline;
  }
}
.main-header .main-header__row .main-header__nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  .main-header .main-header__row .main-header__nav--container {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .main-header .main-header__row .main-header__nav--container {
    display: none;
  }
}
@media (max-width: 1400px) {
  .main-header .main-header__row .main-header__nav--container ul {
    margin-bottom: 10px;
  }
}
.main-header .main-header__row .main-header__nav--container ul a {
  color: #E6DF44;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0.5px 0.5px 1px rgba(1, 26, 39, 0.3);
}
.main-header .main-header__row .main-header__nav--container button {
  background-color: #3F681C;
  color: white;
}
.main-header .main-header__row .main-header__nav--container button:hover {
  background-color: #4b7c21;
}
.main-header .main-header__row .desktop-hide {
  display: none;
}
.main-header .main-header__row .desktop-hide span {
  background: url("/myGreatPlates/img/Hamburger-o.png");
  background-size: cover;
  height: 80px;
  width: 80px;
  border: solid 1px #011A27;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .main-header__row .desktop-hide span:hover {
  cursor: pointer;
}
.main-header .main-header__row .desktop-hide a {
  color: #E6DF44;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0.5px 0.5px 1px rgba(1, 26, 39, 0.3);
}
@media (max-width: 1000px) {
  .main-header .main-header__row .desktop-hide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-header .main-header__row .desktop-hide .no-pad {
    padding: 0;
    border: solid 5px #3F681C;
  }
  .main-header .main-header__row .desktop-hide .no-pad .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F681C;
  }
}
@media (max-width: 730px) {
  .main-header .main-header__row .desktop-hide {
    position: absolute;
    right: 0;
  }
}
.main-content {
  background-color: green;
}
.main-footer {
  padding: 20px;
  background-color: rgba(1, 26, 39, 0.3);
  border-radius: 10px;
  max-width: 1500px;
}
.main-footer .main-footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .main-footer .main-footer__row {
    flex-direction: column;
    justify-content: center;
  }
}
.main-footer .main-footer__row img {
  opacity: .5;
}
@media (max-width: 900px) {
  .main-footer .main-footer__row img {
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .main-footer .main-footer__row .main-footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.main-footer .main-footer__row .main-footer__nav a {
  color: #E6DF44;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0.5px 0.5px 1px rgba(1, 26, 39, 0.3);
}
@media (max-width: 500px) {
  .main-footer .main-footer__row .main-footer__nav .middle {
    margin: 20px 0;
  }
}
.main-footer .main-footer__copy {
  text-align: center;
  color: white;
  padding: 0;
  margin-top: 40px;
}
