/******RESET******/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******GENERAL STYLES******/
* {
  box-sizing: border-box;
}
body,
html {
  font-family: sans-serif;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.opac {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.bg-img {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1688543/bg-food-one-min.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -2;
}
.bg-img-land {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1688543/bg-food-one-min.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -2;
}
.main-container {
  height: 100%;
}
h1 {
  font-size: 4.5rem;
  text-align: center;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(230, 223, 68, 0.3);
}
h2 {
  font-size: 3rem;
  text-align: center;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(230, 223, 68, 0.3);
}
h3 {
  font-size: 2rem;
  text-align: center;
  color: gold;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(1, 26, 39, 0.3);
}
h4 {
  font-size: 1.5rem;
  text-align: center;
  color: gold;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(1, 26, 39, 0.3);
}
p {
  font-size: 1.1rem;
  text-align: center;
  color: #011A27;
  letter-spacing: 1px;
}
hr {
  margin: 20px 0 50px;
}
a.btn-link:hover {
  text-decoration: none;
}
.btn-guest {
  background-color: transparent;
  border: 3px solid black;
  color: gold;
  letter-spacing: 1px;
  font-weight: 600;
}
.btn-guest:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-user {
  background-color: transparent;
  border: 3px solid black;
  color: gold;
  letter-spacing: 1px;
  font-weight: 600;
}
.btn-user:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-create {
  border: 3px solid black;
  background-color: transparent;
  color: gold;
  letter-spacing: 1px;
  font-weight: 600;
  width: 50%;
  margin: auto;
}
@media (max-width: 900px) {
  .btn-create {
    width: 100%;
  }
}
.btn-create:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.main-header {
  padding: 20px;
}
@media (max-width: 730px) {
  .main-header {
    position: relative;
  }
}
.main-header .main-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .main-header .main-header__row .main-header__img--container .m-hider {
    display: none;
  }
}
.main-header .main-header__row .main-header__img--container .d-hider {
  display: none;
}
@media (max-width: 900px) {
  .main-header .main-header__row .main-header__img--container .d-hider {
    display: inline;
  }
}
.main-header .main-header__row .main-header__nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  .main-header .main-header__row .main-header__nav--container {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .main-header .main-header__row .main-header__nav--container {
    display: none;
  }
}
@media (max-width: 1400px) {
  .main-header .main-header__row .main-header__nav--container ul {
    margin-bottom: 10px;
  }
}
.main-header .main-header__row .main-header__nav--container ul a {
  color: gold;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-shadow: 0.5px 0.5px 1px rgba(1, 26, 39, 0.3);
}
.main-header .main-header__row .main-header__nav--container ul a:hover {
  border-bottom: solid 1px gold;
}
.main-header .main-header__row .main-header__nav--container button {
  background-color: transparent;
  border: 2px solid black;
  color: gold;
  letter-spacing: 1px;
  font-weight: 600;
}
.main-header .main-header__row .main-header__nav--container button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.main-header .main-header__row .desktop-hide {
  display: none;
}
.main-header .main-header__row .desktop-hide span {
  background: url("/myGreatPlates/img/Hamburger-o.png");
  background-size: cover;
  height: 80px;
  width: 80px;
  border: solid 1px #011A27;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .main-header__row .desktop-hide span:hover {
  cursor: pointer;
}
.main-header .main-header__row .desktop-hide a {
  color: #E6DF44;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0.5px 0.5px 1px rgba(1, 26, 39, 0.3);
}
@media (max-width: 1000px) {
  .main-header .main-header__row .desktop-hide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-header .main-header__row .desktop-hide .no-pad {
    padding: 0;
    border: solid 5px #3F681C;
  }
  .main-header .main-header__row .desktop-hide .no-pad .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F681C;
  }
}
@media (max-width: 730px) {
  .main-header .main-header__row .desktop-hide {
    position: absolute;
    right: 0;
  }
}
/* Home Page */
.home-page {
  height: 59.5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-page .main-content-img {
  margin-bottom: 100px;
}
.home-page .btn-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-page .btn-column .btn-column__btn {
  width: 40%;
}
@media (max-width: 900px) {
  .home-page .btn-column .btn-column__btn {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .home-page .btn-column .top {
    margin-bottom: 20px;
  }
}
@media (max-width: 900px) {
  .home-page .btn-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Landing Page */
.landing-page .zip-enter {
  width: 50%;
  margin: auto;
  border: solid 2px black;
}
.landing-page .zip-enter:focus {
  outline: none;
}
.landing-page .card-border {
  border: solid 3px #dbb900;
  box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.3);
}
.landing-page .card-img-overlay {
  padding: 0;
}
.landing-page .card-img-overlay .card-info-bg {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  padding-top: 20px;
}
/* Main Page */
.main-page {
  height: 60%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page .main-card-container {
  text-align: center;
  box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: transparent;
}
.main-page .main-card-container .card-sub-container {
  padding: 0;
  background: transparent;
}
.main-page .main-card-container .card-sub-container .card-img-top {
  border: solid 2px gold;
}
.main-page .button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.main-page .button-container .btn-more {
  font-size: 1.5rem;
  width: 40%;
  background-color: transparent;
  border: 3px solid black;
  color: gold;
  letter-spacing: 1px;
  font-weight: 600;
}
.main-page .button-container .btn-more:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.main-page .button-container .btn-next {
  font-size: 1.5rem;
  width: 40%;
  background-color: transparent;
  border: 3px solid black;
  color: gold;
  letter-spacing: 1px;
  font-weight: 600;
}
.main-page .button-container .btn-next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* Info Page */
.info-page .card-container-top {
  text-align: center;
  color: white;
}
.info-page .card-container-middle {
  text-align: center;
  color: white;
}
.info-page .card-container-middle img {
  border: solid 1px gold;
}
.info-page .card-container-middle h3 {
  color: black;
}
.info-page .card-container-bottom {
  text-align: center;
  color: white;
}
.info-page .card-container-bottom-two {
  flex-wrap: nowrap;
  overflow-x: scroll;
  /* width */
  /* Track */
  /* Handle */
}
.info-page .card-container-bottom-two::-webkit-scrollbar {
  width: 20px;
}
.info-page .card-container-bottom-two::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.info-page .card-container-bottom-two::-webkit-scrollbar-thumb {
  background: gold;
  border-radius: 10px;
}
.info-page .card-container-bottom-two .card-container {
  padding: 20px;
}
.info-page .card-container-bottom-two .card-container .card-title {
  margin: 0;
  padding: 5px 0;
}
.info-page .card-container-bottom-two-two {
  text-align: center;
  color: white;
}
.info-page .card-container-bottom-two-two h2 {
  font-size: 3rem;
}
.info-page .card-container-bottom-three {
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 20px;
  /* width */
  /* Track */
  /* Handle */
}
.info-page .card-container-bottom-three::-webkit-scrollbar {
  width: 20px;
}
.info-page .card-container-bottom-three::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.info-page .card-container-bottom-three::-webkit-scrollbar-thumb {
  background: gold;
  border-radius: 10px;
}
.info-page .card-container-bottom-three .card-container {
  padding: 20px;
}
.info-page .card-container-bottom-three .card-container .card-title {
  margin: 0;
  padding: 5px 0;
}
.main-footer {
  padding: 20px;
  background-color: rgba(1, 26, 39, 0.2);
  border-radius: 10px;
  max-width: 1500px;
}
.main-footer .main-footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .main-footer .main-footer__row {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .main-footer .main-footer__row img {
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .main-footer .main-footer__row .main-footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.main-footer .main-footer__row .main-footer__nav a {
  color: #E6DF44;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-shadow: 0.5px 0.5px 1px rgba(1, 26, 39, 0.3);
}
.main-footer .main-footer__row .main-footer__nav a:hover {
  border-bottom: solid 1px #E6DF44;
}
@media (max-width: 500px) {
  .main-footer .main-footer__row .main-footer__nav .middle {
    margin: 20px 0;
  }
}
