
/* Home Page */
.home-page {
  height: 59.5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .main-content-img {
    margin-bottom: 100px;
  }

  .btn-column {
    .flex(space-around, center);

    .btn-column__btn {
      width: 40%;

      @media (max-width: 900px) {
        width: 90%;
      }
    }

    .top {
      @media (max-width: 900px) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}


/* Landing Page */
.landing-page {

  .zip-enter {
    width: 50%;
    margin: auto;
    border: solid 2px black;

    &:focus {
      outline: none;
    }
  }

  .card-border {
    border: solid 3px darken(gold, 7%);
    box-shadow: 2px 2px 50px 10px rgba(0,0,0,.3);
  }

  .card-img-overlay {
    padding: 0;

    .card-info-bg {
      background-color: rgba(0,0,0,.9);
      padding: 10px;
      padding-top: 20px;
    }
  }
}


/* Main Page */
.main-page {
  height: 60%;
  width: 50%;
  .flex(center, center);

    
  .main-card-container {
    text-align: center;
    box-shadow: 2px 2px 50px 10px rgba(0,0,0,.3);
    border-radius: 10px;
    background: transparent;
    
    
    .card-sub-container {
      padding: 0;
      background: transparent;

      .card-img-top {
        border: solid 2px gold;
      }
    }
  }

  .button-container {
    .flex(space-around, center);
    margin-bottom: 10px;
    
    .btn-more {
      font-size: 1.5rem;
      width: 40%;
      background-color: transparent;
      border: 3px solid black;
      color: gold;
      letter-spacing: 1px;
      font-weight: 600;

      &:hover {
        background-color: rgba(0, 0, 0, .2);
      }
    }
    .btn-next {
      font-size: 1.5rem;
      width: 40%;
      background-color: transparent;
      border: 3px solid black;
      color: gold;
      letter-spacing: 1px;
      font-weight: 600;

      &:hover {
        background-color: rgba(0, 0, 0, .2);
      }
    }
  }
}


/* Info Page */
.info-page {

  .card {
    box-shadow: .5px .5px 10px 5px rgba(0,0,0,.2);
    &:hover {
      box-shadow: 1px 1px 50px 1px rgba(255, 215, 0, 0.1);
    }
  }

  .card-container-top {
    text-align: center;
    color: white;
  }

  .card-container-middle {
    text-align: center;
    color: white;

    img {
      border: solid 1px #ffd700;
      box-shadow: 2px 2px 50px 10px rgba(0,0,0,.3);

      &:hover {
        box-shadow: 1px 1px 50px 1px rgba(255, 215, 0, 0.1);
      }
    }

    h3 {
      color: black;
    }
  }

  .card-container-bottom {
    text-align: center;
    color: white;
  }

  .card-container-bottom-two {
    flex-wrap: nowrap;
    overflow-x: scroll;
          /* width */
    &::-webkit-scrollbar {
      width: 20px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: gold;
      border-radius: 10px;
    }

    .card-container {
      padding: 20px;

      .card-title {
        margin: 0;
        padding: 5px 0;
      }
    }
  }

  .card-container-bottom-two-two {
    text-align: center;
    color: white;
  }

  .card-container-bottom-three {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 20px;
    /* width */
    &::-webkit-scrollbar {
      width: 20px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: gold;
      border-radius: 10px;
    }

    .card-container {
      padding: 20px;

      .card-title {
        margin: 0;
        padding: 5px 0;
      }
    }
  }
}